<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id=one-one" data-view="Text" data-title="Chat"</div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id=one-two" data-view="Text" data-title="B2C Karobar"</div>
        </li>
        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id=one-three" data-view="Text" data-title="Monetization Mudra"</div>
        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id=one-four" data-view="Text" data-title="Vyom RE"</div>
        </li>
    </ul>
</div>
