<head>
<style>
* {
    box-sizing: border-box;
}
.OKR {
    float: left;
    padding: 25px;
    width: 30%;
    background-color: #966f92;
    height: 150px; /* only for demonstration, should be removed */
    text-align: center;
}
.OBig5 {
    float: right;
    padding: 25px;
    width: 30%;
    background-color: #966f92;
    height: 150px; /* only for demonstration, should be removed */
    text-align: center;
}
body  {
    background-color: powderblue;
    background-image: url("https://images4.alphacoders.com/618/618180.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: black;
    font-family: verdana;
}
.panamera-header{
font-size: 150px;
}

</style>
</head>
<body>
<header><h1 class="panamera-header">PANAMERA</h1></header>
<div class="OKR">
  <h2><a href="http://localhost:3030/grid">OKR</a></h2>
</div>
<div class="OBig5">
   <h2><a href="http://localhost:3030/shakti">OBig5</a></h2>
</div>
</body>
